.card {
	width: 100%;
	min-width: 300px;
	color: white;
	margin-bottom: 30px;
	
	header {
		height: 30px;
		padding: $p_default;
		border-top-left-radius: $r_default;
		border-top-right-radius: $r_default;
		
		h4 {
			font-weight: 100;
		}
	}
	section {
		background-color: $gray-blue--op_middle;
		border-bottom-left-radius: $r_default;
		border-bottom-right-radius: $r_default;
		min-height: 200px;
		
		> img {
			position: absolute;
			width: 100px;
			max-height: 100px;
			margin: 10px;
		}
		article {
			position: relative;
			padding-top: 10px;
			padding-left: $p_default;
			padding-right: $op_default;
	
			a {
				color: white;
				transition: 0.3s;
				
				h3 {
					font-size: 20px;
					margin-bottom: 10px;
				}
				&:hover {
					text-decoration: underline;
				}
			}
			
			p {
//				font-weight: 100;
			}
		}
		ul {
			position: relative;

			li {
				float: left;
				margin-right: $m_default;
				margin-bottom: $m_default;
			}
		}
	}
	
	&--project {
		
		header {
			background-color: $gray-blue;
		}
		article {
			margin-left: 120px;
		}
		ul {
			margin-left: 120px;
		}
	}
	&--task {
		
		header {
			background-color: $task;
			
			h4 {
				text-transform: uppercase;
			}
		}		
		article {
			margin-left: 0;
		}
		ul {
			margin-left: 0;
		}
	}
	&--info {
		
		header {
			background-color: $info !important;
		}
	}
	&--bug {
		
		header {
			background-color: $bug !important;
		}
	}
	&--review {
		
		header {
			background-color: $review !important;
		}
	}
	&--feature {
		
		header {
			background-color: $feature !important;
		}
	}
}