@include scrollbars(.75em, $primary-dark--op_middle);

body {
	font-family: avenirNext;
}

.background {
	background: url(../images/background_2560x1600.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.float {
	position: relative;
	
	&--left {
		float: left;
	}
	&--right {
		float: right;
	}
	&--clear {
		clear: both;
	}
}


.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nomargin {
	
	&--left {
		margin-left: 0;
	}
	&--right {
		margin-right: 0;
	}
}

.nopadding {
	
	&--left {
		padding-left: 0;
	}
	&--right {
		padding-right: 0;
	}
}

.bg {
	
	&--task {
		background-color: $task;
	}
	&--info {
		background-color: $info;
	}
	&--bug {
		background-color: $bug;
	}
	&--review {
		background-color: $review;
	}
	&--feature {
		background-color: $feature;
	}
}