.login-section {
	position: absolute;
    height: 400px;
    width: 300px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
	text-align: center;
	
	
	img {
		margin-bottom: 120px;
	}
	input {
		width: 100%;
		padding: $p_default;
		padding: $p_default 50px;
		margin-bottom: 2px;
		border: none;
		background-color: $primary--op_default;
		border-color: $primary--op_default;
//		opacity: $op_default;
		font-size: 20px;
		font-weight: 100;
		color: white;
		
		background-repeat: no-repeat;
		background-position: 15px center;
		
		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color: white;
			opacity: $op_default;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: white;
			opacity: $op_default;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: white;
			opacity: $op_default;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: white;
		}
		
		&.top {
			border-top-left-radius: $p_default;
			border-top-right-radius: $p_default;
		}
        &.bottom {
			border-bottom-left-radius: $p_default;
			border-bottom-right-radius: $p_default;
		}
		&.email {
			background-image: url(../images/icons/white/mail.png);
            background-size: 24px 24px;
            
		}
		&.psw {
			background-image: url(../images/icons/white/key.png);
            background-size: 24px 24px;
		}
		
	}
	&__btn-group {
		width: 100%;
		margin-bottom: 10px;
		
		a {
			padding: $p_default;
			background-color: $primary--op_middle; 
			font-size: 20px;
			font-weight: 100;
			color: white;
			
			&:hover {
				background-color: $primary--op_more;
			}
		}
		.left {
			width: 50%;
			border-bottom-left-radius: $p_default;
            float:left;
		}
		.right {
			width: 49.5%;
			border-bottom-right-radius: $p_default;
            float:right;
		}
         .bottom {
            width: 100%;
			border-bottom-left-radius: $p_default;
			border-bottom-right-radius: $p_default;
            float:left;
		}
	}
	&__text {
		
		&--bottom {
			font-size: 20px;
			color: white;
			font-weight: 100;
			
			&:hover {
				border-bottom: 1px solid white;
			}
		}
	}
}