// Colors
$primary:				#234c55;
$primary-darker:		#183238;
$gray-blue:				#547076;
$background-color:		#789EA7;

// Opacities
$op_default:			0.5;
$op_less:				0.2;
$op_more:				0.8;
$op_button:				0.7;

// Fonts

// Dimensions (paddings & margins)
$p_default:				5px;	// Padding
//$m_general: 			5px;	// Margin
$r_default:				5px;	// Radius
